/* Place your extensions here to make migration to a new release easier. */
.p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: unset;
    border-width: unset;
}
.l-span-clickable:hover {
    cursor: pointer;
}
.l-btn-inline {
    background: darkgreen;
    padding: 3px;
    border-radius: 3px;
    text-decoration: underline;
    color: white;
}
.l-btn-inline:hover {
    color: black;
    text-decoration: unset;
}
.l-whitewall-body-container {
    /* background: #221f08;
    color: white; */
}
.l-whitewall-body-container .l-component {
    /* background: #131100; */
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

div pre {
    white-space: pre-wrap;
    overflow: auto;
}
