@charset "UTF-8";
/* General */
/* Menu */
/* Menu Dark*/
/* Menu Light*/
/* Topbar */
/* Footer */
.splash-screen {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0388E5;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0388E5), color-stop(100%, #07BDF4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
  /* IE10+ */
  background: linear-gradient(to right, #0388E5 0%, #07BDF4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 );
  /* IE6-9 */ }
  .splash-screen .splash-container {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px; }
  .splash-screen .splash-double-bounce1, .splash-screen .splash-double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: splash-bounce 2.0s infinite ease-in-out;
    animation: splash-bounce 2.0s infinite ease-in-out; }
  .splash-screen .splash-double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }

@-webkit-keyframes splash-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes splash-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #edf0f5;
  margin: 0;
  padding: 0;
  min-height: 100%; }

a {
  text-decoration: none; }

.layout-wrapper {
  padding: 0; }
  .layout-wrapper .layout-topbar {
    position: fixed;
    padding: .7em 1.5em .7em 1.5em;
    color: #ffffff;
    z-index: 999;
    right: 0;
    background: #0388E5;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0388E5), color-stop(100%, #07BDF4));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #0388E5 0%, #07BDF4 100%);
    /* IE10+ */
    background: linear-gradient(to right, #0388E5 0%, #07BDF4 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 );
    /* IE6-9 */
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s; }
    .layout-wrapper .layout-topbar .layout-topbar-icons {
      float: right;
      display: block;
      -moz-animation-duration: .5s;
      -webkit-animation-duration: .5s;
      animation-duration: .5s; }
      .layout-wrapper .layout-topbar .layout-topbar-icons a {
        position: relative;
        color: #ffffff;
        margin-left: 20px;
        display: inline-block;
        text-decoration: none;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .layout-wrapper .layout-topbar .layout-topbar-icons a:hover {
          color: #77c7ff; }
        .layout-wrapper .layout-topbar .layout-topbar-icons a span.layout-topbar-icon {
          font-size: 2em; }
        .layout-wrapper .layout-topbar .layout-topbar-icons a span.layout-topbar-item-text {
          font-size: 20px; }
        .layout-wrapper .layout-topbar .layout-topbar-icons a span.layout-topbar-badge {
          position: absolute;
          font-size: 10px;
          right: -5px;
          top: -5px;
          width: 16px;
          height: 16px;
          text-align: center;
          line-height: 16px;
          color: #ffffff;
          background-color: #ef6262;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
      .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search {
        padding: 0;
        position: relative;
        display: inline-block;
        top: -4px; }
        .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search input {
          display: inline-block;
          border: 0 none;
          font-size: 14px;
          background: transparent;
          border-bottom: 2px solid #ffffff;
          outline: 0 none;
          -webkit-box-shadow: none;
          box-shadow: none;
          color: #ffffff;
          width: 100px;
          padding: 1px 20px 1px 1px;
          margin: 0px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search input::-webkit-input-placeholder {
            color: #ffffff;
            opacity: .7;
            -moz-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search input:-moz-placeholder {
            color: #ffffff;
            opacity: .7;
            -moz-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search input::-moz-placeholder {
            color: #ffffff;
            opacity: .7;
            -moz-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search input:-ms-input-placeholder {
            color: #ffffff;
            opacity: .7;
            -moz-transition: opacity 0.2s;
            -o-transition: opacity 0.2s;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
        .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search .layout-topbar-search-icon {
          font-size: 18px;
          position: absolute;
          top: -1px;
          right: 0px; }
        .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover input {
          border-bottom-color: #77c7ff; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover input::-webkit-input-placeholder {
            opacity: 1; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover input:-moz-placeholder {
            opacity: 1; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover input::-moz-placeholder {
            opacity: 1; }
          .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover input:-ms-input-placeholder {
            opacity: 1; }
        .layout-wrapper .layout-topbar .layout-topbar-icons .layout-topbar-search:hover .layout-topbar-search-icon {
          color: #77c7ff; }
    .layout-wrapper .layout-topbar .layout-menu-button {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .layout-wrapper .layout-topbar .layout-menu-button span {
        font-size: 2em; }
      .layout-wrapper .layout-topbar .layout-menu-button:hover {
        color: #77c7ff; }
    .layout-wrapper .layout-topbar .layout-home-button {
      cursor: pointer;
      display: inline-block;
      margin-left: 20px;
      text-decoration: none;
      color: #ffffff;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }
      .layout-wrapper .layout-topbar .layout-home-button span {
        font-size: 2em; }
      .layout-wrapper .layout-topbar .layout-home-button:hover {
        color: #77c7ff; }
    .layout-wrapper .layout-topbar a {
      cursor: pointer; }
  .layout-wrapper .p-scrollpanel {
    background: transparent;
    border-radius: 0;
    border: none; }
    .layout-wrapper .p-scrollpanel .p-scrollpanel-content {
      overflow: scroll; }
    .layout-wrapper .p-scrollpanel .p-scrollpanel-bar {
      background: #aaaaaa;
      opacity: 0.3;
      filter: alpha(opacity=30); }
    .layout-wrapper .p-scrollpanel .p-scrollpanel-hidden {
      display: block;
      visibility: hidden; }
    .layout-wrapper .p-scrollpanel .layout-sidebar-scroll-content {
      width: calc(100% + 18px);
      padding-bottom: 120px; }
  .layout-wrapper .layout-sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    background: #f3f4f9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f9), color-stop(100%, #d7dbe8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f3f4f9 0%, #d7dbe8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16); }
    .layout-wrapper .layout-sidebar .layout-logo {
      text-align: center;
      margin-top: 24px; }
    .layout-wrapper .layout-sidebar .profile {
      text-align: center;
      padding: 20px 0; }
      .layout-wrapper .layout-sidebar .profile img {
        width: 56px;
        margin: 10px; }
      .layout-wrapper .layout-sidebar .profile .profile-link {
        cursor: pointer;
        color: #232428;
        display: inline-block;
        margin-bottom: 10px;
        -moz-transition: color 0.2s;
        -o-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
        .layout-wrapper .layout-sidebar .profile .profile-link i {
          display: inline-block;
          font-size: 16px; }
        .layout-wrapper .layout-sidebar .profile .profile-link:hover {
          color: #0388e5; }
      .layout-wrapper .layout-sidebar .profile > ul {
        overflow: hidden;
        background-color: #ffffff;
        text-align: left;
        max-height: 0;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
        .layout-wrapper .layout-sidebar .profile > ul.profile-expanded {
          max-height: 500px; }
        .layout-wrapper .layout-sidebar .profile > ul li a {
          border: 0 none; }
        .layout-wrapper .layout-sidebar .profile > ul li:last-child > a {
          border: 0 none; }
    .layout-wrapper .layout-sidebar ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .layout-wrapper .layout-sidebar ul li a {
        cursor: pointer;
        position: relative;
        /* color: #232428; */
        text-decoration: none;
        font-size: 14px;
        padding: 1em 15px 1em 1em;
        display: block;
        border-top: 1px solid rgba(207, 211, 224, 0.6); }
        .layout-wrapper .layout-sidebar ul li a i {
          font-size: 18px;
          vertical-align: middle; }
        .layout-wrapper .layout-sidebar ul li a span {
          margin-left: .25em;
          vertical-align: middle; }
        .layout-wrapper .layout-sidebar ul li a .menuitem-toggle-icon {
          float: right; }
        .layout-wrapper .layout-sidebar ul li a:hover {
          color: #0388e5; }
      /* .layout-wrapper .layout-sidebar ul li.active-menuitem > a {
        background-color: #ffffff;
        color: #0388e5; } */
        .layout-wrapper .layout-sidebar ul li.active-menuitem > a .menuitem-toggle-icon:before {
          content: ""; }
      .layout-wrapper .layout-sidebar ul li.active-menuitem > ul {
        max-height: 500px; }
      .layout-wrapper .layout-sidebar ul li ul {
        background-color: #ffffff;
        overflow: hidden;
        margin-left: 1.5em;
        max-height: 0;
        -webkit-transition-property: max-height;
        -moz-transition-property: max-height;
        -ms-transition-property: max-height;
        -o-transition-property: max-height;
        transition-property: max-height;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
        .layout-wrapper .layout-sidebar ul li ul li a {
          cursor: pointer;
          padding: .75em 33px .75em .75em;
          font-size: 13px;
          border-top: 0 none; }
        .layout-wrapper .layout-sidebar ul li ul li:last-child > a {
          border-bottom: 0 none; }
      .layout-wrapper .layout-sidebar ul li:last-child > a {
        border-bottom: 1px solid rgba(207, 211, 224, 0.6); }
      .layout-wrapper .layout-sidebar ul .menuitem-toggle-icon {
        float: right;
        margin-top: 2px; }
      .layout-wrapper .layout-sidebar ul .menuitem-badge {
        margin-top: 3px;
        font-size: 10px;
        float: right;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color: #ffffff;
        background-color: #007be5;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%; }
    .layout-wrapper .layout-sidebar.layout-sidebar-dark {
      background: #4d505b;
      /* Old browsers */
      background: -moz-linear-gradient(top, #4d505b 0%, #3b3e47 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d505b), color-stop(100%, #3b3e47));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #4d505b 0%, #3b3e47 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #4d505b 0%, #3b3e47 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #4d505b 0%, #3b3e47 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #4d505b 0%, #3b3e47 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .layout-wrapper .layout-sidebar.layout-sidebar-dark .profile > a {
        color: #ffffff; }
        .layout-wrapper .layout-sidebar.layout-sidebar-dark .profile > a:hover {
          color: #0388e5; }
      .layout-wrapper .layout-sidebar.layout-sidebar-dark .profile > ul {
        background-color: #2e3035; }
        .layout-wrapper .layout-sidebar.layout-sidebar-dark .profile > ul li a {
          border: 0 none; }
      .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li a {
        /* color: #ffffff; */
        border-top: 1px solid rgba(52, 56, 65, 0.6); }
        /* .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li a:hover {
          color: #0388e5; } */
      /* .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li.active-menuitem > a {
        background-color: #2e3035;
        color: #0388e5; } */
      .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li ul {
        background-color: #2e3035; }
        .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li ul li a {
          border: none; }
      .layout-wrapper .layout-sidebar.layout-sidebar-dark ul li:last-child > a {
        border-bottom: 1px solid rgba(52, 56, 65, 0.6); }
  .layout-wrapper .layout-main {
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
    padding: 66px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    height: 100vh; }
  .layout-wrapper .layout-footer {
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
    background-color: #ffffff;
    padding: 1em 2em; }
    .layout-wrapper .layout-footer img {
      vertical-align: middle; }
    .layout-wrapper .layout-footer .footer-text {
      vertical-align: middle; }

/*.lino-main {
    flex: auto;
    display: flex;
    flex-direction: column;
}*/
.dashboard-item-closed {
  display: none; }

.p-panel {
  height: inherit; }
  .p-panel .p-panel-content {
    height: inherit; }
  .p-panel .p-toggleable-content {
    height: inherit; }

body .lino-panel.p-tabview .p-tabview-panels {
  padding: .5ch 0.7ch;
}
.lino-panel.p-tabview-panel {
    display: inline;
}
.l-panel {
  height: 100%;
  width: 100%;
  flex: auto;
  display: flex; }
  .l-panel .l-component {
    width: 100%;
    padding: .25em;}
    .l-panel .l-component .l-label {
      font-weight: lighter;
      border-bottom: dotted 1px;
      white-space: nowrap; }
      .l-panel .l-component .l-label.l-label--unfilled {
        color: grey; }
    .l-panel .l-component .p-checkbox.p-component {
      padding-top: .5ch; }

.p-autocomplete-list-item {
  min-height: 28.7px; }

body .l-ForeignKeyElement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1ch;
  position: relative; }
  body .l-ForeignKeyElement .p-autocomplete.p-component {
    width: 100%; }
  body .l-ForeignKeyElement .l-fk-clear {
    position: absolute;
    right: 2.7em;
    top: 50%;
    font-size: 1em;
    height: 1em;
    margin-top: -.5em;
    color: #848484; }
  body .l-ForeignKeyElement .l-fk-clear::before {
    content: "\E90B"; }
  body .l-ForeignKeyElement .l-button-fk {
    margin-left: 1em;
    height: 1.5em;
    width: 1.5em;
    margin-top: 3px; }
  body .l-ForeignKeyElement .p-autocomplete {
    display: inherit; }
    body .l-ForeignKeyElement .p-autocomplete .p-autocomplete-items > li {
      min-height: 32px; }
    body .l-ForeignKeyElement .p-autocomplete .p-autocomplete-dropdown {
      max-width: 2.257em; }
  body .l-ForeignKeyElement input {
    width: calc(100% - 2.357em); }
  body .l-ForeignKeyElement label {
    white-space: nowrap; }

.p-calendar input {
  width: 100%; }

.l-ChoiceListFieldElement .p-dropdown.p-component {
  padding-right: 1px; }

.l-ChoiceListFieldElement .p-dropdown-clearable > label {
  margin-right: 16px; }

.l-ChoiceListFieldElement > div {
  min-width: unset; }

.l-ChoiceListFieldElement label {
  margin-top: 1px;
  margin-left: 1px; }

.l-panel-vertical {
  flex-direction: column; }

.lino-loading-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: .2;
  border-radius: 5px; }

.lino-loading-mask > div {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); }

.lino-transparent {
  opacity: 0; }

.l-actas {
  max-height: calc(-250px + 100vh); }
  .l-actas .p-card-content {
    max-height: calc(100vh - 372px);
    overflow-x: hidden;
    overflow-y: auto; }
  .l-actas .p-button {
    width: 100%;
    margin-bottom: 2px; }

.p-tabview {
  flex: auto;
  display: flex;
  flex-direction: column; }

.p-tabview-panels {
  flex: auto;
  display: flex;
  flex-direction: column; }

.p-tabview-panel {
  flex: auto;
  display: flex; }

.l-editor-wrapper > div {
  width: 100%;
  height: 100%; }

.l-editor-wrapper > div > div {
  width: 100%;
  height: 100%; }

.p-editor-container {
  height: 100%;
  padding-bottom: .5ch;
  padding-top: .5ch;
  width: 100%; }

.p-dialog {
  max-width: 100vw; }
    @media (max-width: 600px) {
      .p-dialog .p-dialog-content {
        overflow: scroll; } }
  .p-dialog .p-fileupload-content {
    min-height: 150px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden; }

.p-panel-content {
  flex: auto; }

.p-panel-content-wrapper-expanded {
  flex: auto;
  display: flex; }

.l-slave-summary-panel .p-panel-content .p-button:first-child {
  float: right;
  margin-top: -44px; }

body .p-datatable .p-datatable-tbody > tr.p-highlight a {
  color: #333333; }

body table p {
  margin: unset; }

body .layout-wrapper .layout-sidebar ul li.active-menuitem > ul {
  max-height: 200vh; }

body .l-bbar > * {
  margin-right: 2px;
  margin-bottom: 1px; }

body .l-grid .p-dataview .p-panel-header {
  padding: 0px 1ch; }

body .l-grid .p-dataview .p-panel-content {
  padding-top: 1ch;
  padding-left: 1ch; }

body .l-grid .p-dataview p {
  margin: unset; }

.table-header {
  display: flex;
  justify-content: space-between;
}
  body .l-grid .table-header .l-DataViewLayoutOptions {
    display: inline; }

body .l-grid .p-datatable .p-datatable-thead > tr > th {
  border-bottom-width: 3px; }

body .l-grid .p-datatable .p-datatable-tbody > tr > td.p-cell-editing {
  overflow: unset; }
  body .l-grid .p-datatable .p-datatable-tbody > tr > td.p-cell-editing .p-datepicker {
    min-width: max-content;
    position: fixed;
    left: unset !important;
    top: unset !important;
    width: auto; }
    body .l-grid .p-datatable .p-datatable-tbody > tr > td.p-cell-editing .p-datepicker table.p-datepicker-calendar {
      display: block; }

body .l-grid .p-datatable .p-datatable-header {
  padding: 0.15em 0.25em; }

body .l-grid .p-datatable .l-DateFieldElement .p-datepicker-trigger {
  width: 2.357em !important; }

.no-ws {
  color: grey !important; }

.l-itemTemplate {
  width: 100%; }

.chatwindow-chats > .p-scrollpanel-content {
  display: flex;
  flex-direction: column;
  margin-top: .6ch; }
  .chatwindow-chats > .p-scrollpanel-content > div {
    margin-top: .7ch; }

.chatwindow {
  max-width: 284px; }
  .chatwindow .user {
    font-size: x-small;
    text-transform: capitalize; }
  .chatwindow .not-sent .message {
    background: gray !important; }
  .chatwindow .message {
    transition: background-color 1000ms linear;
    border-radius: 10px;
    background: #06b4f1;
    padding-left: 1ch;
    padding-right: 1ch;
    overflow-wrap: break-word;
    max-width: 100%; }
  .chatwindow .p-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4; }
  .chatwindow .p-scrollpanel-bar {
    background-color: #1976d2;
    opacity: 1;
    transition: background-color .3s; }
  .chatwindow .p-scrollpanel-bar:hover {
    background-color: #135ba1; }
  .chatwindow .p-editor-toolbar {
    border-top: unset !important;
    padding: unset !important; }
  .chatwindow .p-editor-container {
    padding-bottom: unset; }

body .l-detail-toolbar .p-toolbar-group-left {
  display: block; }

body .l-detail-toolbar .p-button {
  margin-right: 2px;
  margin-bottom: 1px; }

@media (max-width: 600px) {
  .l-panel {
    flex-direction: column; }
    .l-panel .l-component {
      padding-left: unset;
      padding-right: unset; } }

/* Responsive  larger than 1025px*/
@media (min-width: 1025px) {
  .layout-wrapper.layout-overlay .layout-sidebar {
    left: -250px; }
  .layout-wrapper.layout-overlay .layout-topbar {
    left: 0; }
  .layout-wrapper.layout-overlay .layout-main, .layout-wrapper.layout-overlay .layout-footer {
    margin-left: 0; }
  .layout-wrapper.layout-overlay.layout-overlay-sidebar-active .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-overlay.layout-overlay-sidebar-active .layout-topbar {
    left: 250px; }
  .layout-wrapper.layout-static .layout-sidebar {
    left: 0; }
  .layout-wrapper.layout-static .layout-topbar {
    left: 250px; }
  .layout-wrapper.layout-static .layout-main, .layout-wrapper.layout-static .layout-footer {
    margin-left: 250px; }
  .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-sidebar {
    left: -250px; }
  .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-topbar {
    left: 0; }
  .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-main, .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-footer {
    margin-left: 0; } }

@media (max-width: 1024px) {
  .layout-wrapper .layout-topbar {
    left: 0; }
    .layout-wrapper .layout-topbar .layout-topbar-icons a span.layout-topbar-item-text {
      display: none; }
  .layout-wrapper .layout-main, .layout-wrapper .layout-footer {
    margin-left: 0; }
  .layout-wrapper .layout-sidebar {
    left: -250px;
    margin-top: 50px; }
  .layout-wrapper .layout-mask {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    z-index: 998;
    background-color: #424242;
    opacity: 0.7;
    filter: alpha(opacity=70); }
  .layout-wrapper.layout-mobile-sidebar-active .layout-sidebar {
    left: -0; }
  .layout-wrapper.layout-mobile-sidebar-active .layout-mask {
    display: block; }
  .body-overflow-hidden {
    overflow: hidden; } }

/* Typography */
h1 {
  font-weight: normal;
  margin: 0;
  font-size: 24px; }

h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0; }

.card {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  .card.card-w-title {
    padding-bottom: 2em; }
  .card h1 {
    margin: .5em 0 .5em 0;
    border-bottom: 1px solid #d5d5d5;
    padding: .1em;
    font-size: 24px; }
    .card h1:first-child {
      margin: 0 0 .5em 0; }

.p-g {
  -ms-flex-wrap: wrap; }

/* Dashboard */
.dashboard .summary {
  position: relative; }
  .dashboard .summary .title {
    font-size: 20px; }
  .dashboard .summary .detail {
    color: #707070;
    display: block;
    margin-top: 10px; }
  .dashboard .summary .count {
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 7px 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .dashboard .summary .count.visitors {
      background-color: #20d077; }
    .dashboard .summary .count.purchases {
      background-color: #f9c851; }
    .dashboard .summary .count.revenue {
      background-color: #007be5; }

.dashboard .highlight-box {
  height: 100px; }
  .dashboard .highlight-box:after {
    content: "";
    display: table;
    clear: both; }
  .dashboard .highlight-box .initials {
    height: 100%;
    float: left;
    width: 50%;
    text-align: center;
    padding: 1em; }
    .dashboard .highlight-box .initials > span {
      font-size: 48px; }
  .dashboard .highlight-box .highlight-details {
    height: 100%;
    background-color: #ffffff;
    float: left;
    width: 50%;
    padding: 1em; }
    .dashboard .highlight-box .highlight-details i {
      font-size: 24px;
      vertical-align: middle;
      margin-right: .25em; }
    .dashboard .highlight-box .highlight-details .count {
      color: #707070;
      font-size: 36px;
      display: block; }

.dashboard .task-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .dashboard .task-list li {
    padding: .5em .25em;
    border-bottom: 1px solid #e3e3e3; }
    .dashboard .task-list li:after {
      content: "";
      display: table;
      clear: both; }
  .dashboard .task-list .p-checkbox {
    vertical-align: middle;
    margin-right: .5em; }
  .dashboard .task-list .task-name {
    vertical-align: middle; }
  .dashboard .task-list .p-button {
    float: right; }
    .dashboard .task-list .p-button .p-button-text {
      padding: .125em; }
  .dashboard .task-list .p-panel-content {
    min-height: 256px; }

.dashboard .contact-form .p-panel-content {
  min-height: 256px; }

.dashboard .contacts ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .dashboard .contacts ul li {
    border-bottom: 1px solid #e3e3e3; }
    .dashboard .contacts ul li a {
      padding: 9px;
      width: 100%;
      box-sizing: border-box;
      text-decoration: none;
      position: relative;
      display: block;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-transition: background-color 0.2s;
      -o-transition: background-color 0.2s;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .dashboard .contacts ul li a .name {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 18px; }
      .dashboard .contacts ul li a .email {
        position: absolute;
        right: 10px;
        top: 30px;
        font-size: 14px;
        color: #707070; }
      .dashboard .contacts ul li a:hover {
        cursor: pointer;
        background-color: #eeeeee; }
    .dashboard .contacts ul li:last-child {
      border: 0; }

.dashboard .contacts .p-panel-content {
  min-height: 256px; }

.dashboard .activity-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .dashboard .activity-list li {
    border-bottom: 1px solid #e3e3e3;
    padding: 16px 8px; }
    .dashboard .activity-list li .count {
      font-size: 24px;
      color: #ffffff;
      background-color: #007be5;
      font-weight: 700;
      display: inline-block;
      padding: .25em .5em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
    .dashboard .activity-list li:first-child {
      border-top: 1px solid #e3e3e3; }
    .dashboard .activity-list li:last-child {
      border: 0; }
    .dashboard .activity-list li .p-g-6:first-child {
      font-size: 18px;
      padding-left: 0; }
    .dashboard .activity-list li .p-g-6:last-child {
      text-align: right;
      color: #707070; }

/*!
 * Quill Editor v1.0.0-beta.3
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative; }

.ql-clipboard {
  left: -100000px;
  position: absolute;
  top: 50%; }

.ql-clipboard p {
  margin: 0;
  padding: 0; }

.ql-editor {
  box-sizing: border-box;
  cursor: text;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap; }

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8; }

.ql-editor ol {
  padding-left: 20px; }

.ql-editor ul {
  padding-left: 8px;
  list-style: disc inside; }

.ql-editor ol > li {
  list-style-type: none; }

.ql-editor ol {
  list-style-type: none;
  position: relative; }

.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8;
  counter-increment: list-num; }

.ql-editor ol li:before {
  content: counter(list-num, decimal) ". ";
  margin-right: -16px;
  position: absolute;
  right: 100%;
  text-align: right; }

.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1; }

.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
  margin-right: -56px; }

.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8; }

.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2; }

.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
  margin-right: -96px; }

.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8; }

.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3; }

.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
  margin-right: -136px; }

.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8; }

.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4; }

.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
  margin-right: -176px; }

.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8; }

.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5; }

.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
  margin-right: -216px; }

.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8; }

.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6; }

.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
  margin-right: -256px; }

.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8; }

.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7; }

.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
  margin-right: -296px; }

.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8; }

.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8; }

.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
  margin-right: -336px; }

.ql-editor .ql-indent-1 {
  padding-left: 40px; }

.ql-editor .ql-indent-2 {
  padding-left: 80px; }

.ql-editor .ql-indent-3 {
  padding-left: 120px; }

.ql-editor .ql-indent-4 {
  padding-left: 160px; }

.ql-editor .ql-indent-5 {
  padding-left: 200px; }

.ql-editor .ql-indent-6 {
  padding-left: 240px; }

.ql-editor .ql-indent-7 {
  padding-left: 280px; }

.ql-editor .ql-indent-8 {
  padding-left: 320px; }

.ql-editor .ql-video {
  display: block; }

.ql-editor .ql-video.ql-align-center {
  margin: 0 auto; }

.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto; }

.ql-editor .ql-bg-black {
  background-color: #000; }

.ql-editor .ql-bg-red {
  background-color: #e60000; }

.ql-editor .ql-bg-orange {
  background-color: #f90; }

.ql-editor .ql-bg-yellow {
  background-color: #ff0; }

.ql-editor .ql-bg-green {
  background-color: #008a00; }

.ql-editor .ql-bg-blue {
  background-color: #06c; }

.ql-editor .ql-bg-purple {
  background-color: #93f; }

.ql-editor .ql-color-white {
  color: #fff; }

.ql-editor .ql-color-red {
  color: #e60000; }

.ql-editor .ql-color-orange {
  color: #f90; }

.ql-editor .ql-color-yellow {
  color: #ff0; }

.ql-editor .ql-color-green {
  color: #008a00; }

.ql-editor .ql-color-blue {
  color: #06c; }

.ql-editor .ql-color-purple {
  color: #93f; }

.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif; }

.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace; }

.ql-editor .ql-size-small {
  font-size: 10px; }

.ql-editor .ql-size-large {
  font-size: 18px; }

.ql-editor .ql-size-huge {
  font-size: 32px; }

.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit; }

.ql-editor .ql-align-center {
  text-align: center; }

.ql-editor .ql-align-justify {
  text-align: justify; }

.ql-editor .ql-align-right {
  text-align: right; }

.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  pointer-events: none;
  position: absolute; }

.ql-hidden {
  display: none; }

.ql-tooltip {
  position: absolute; }

.ql-tooltip a {
  cursor: pointer;
  text-decoration: none; }

.ql-toolbar:before,
.ql-toolbar:after {
  content: ' ';
  display: table; }

.ql-toolbar:after {
  clear: both; }

.ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 24px;
  outline: none;
  padding: 3px 5px;
  width: 24px; }

.ql-toolbar button svg {
  height: 100%; }

.ql-toolbar .ql-stroke {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2; }

.ql-toolbar .ql-stroke-mitter {
  fill: none;
  stroke-mitterlimit: 10;
  stroke-width: 2; }

.ql-toolbar .ql-empty {
  fill: none; }

.ql-toolbar .ql-even {
  fill-rule: evenodd; }

.ql-toolbar .ql-thin,
.ql-toolbar .ql-stroke.ql-thin {
  stroke-width: 1; }

.ql-toolbar .ql-transparent {
  opacity: 0.4; }

.ql-editor h1 {
  font-size: 2em; }

.ql-editor h2 {
  font-size: 1.5em; }

.ql-editor h3 {
  font-size: 1.17em; }

.ql-editor h4 {
  font-size: 1em; }

.ql-editor h5 {
  font-size: 0.83em; }

.ql-editor h6 {
  font-size: 0.67em; }

.ql-editor pre {
  white-space: pre-wrap; }

.ql-editor a {
  text-decoration: underline; }

.ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px; }

.ql-editor pre.hljs {
  overflow: visible; }

.ql-editor code,
.ql-editor pre:not(.hljs) {
  background-color: #f0f0f0; }

.ql-editor code,
.ql-editor pre {
  border-radius: 3px; }

.ql-editor code {
  font-size: 85%;
  padding-bottom: 2px;
  padding-top: 2px; }

.ql-editor code:before,
.ql-editor code:after {
  content: "\A0";
  letter-spacing: -2px; }

.ql-editor *:not(pre) + pre,
.ql-editor pre:first-of-type {
  margin-top: 5px;
  padding-top: 5px; }

.ql-editor pre {
  margin-bottom: 5px;
  padding: 0px 10px 5px; }

.ql-editor pre + pre {
  margin-top: -10px; }

.ql-editor img {
  max-width: 100%; }

.ql-snow .ql-image-tooltip {
  padding: 10px;
  text-align: center;
  width: 300px; }

.ql-snow .ql-image-tooltip input[type=text] {
  height: 30px;
  width: 100%; }

.ql-snow .ql-image-tooltip a.ql-cancel,
.ql-snow .ql-image-tooltip a.ql-action {
  border: 1px solid #06c;
  display: inline-block;
  float: left;
  line-height: 18px;
  padding: 5px;
  width: 50%; }

.ql-snow .ql-image-tooltip a.ql-cancel::before {
  color: #06c;
  content: 'Cancel'; }

.ql-snow .ql-image-tooltip a.ql-action {
  background-color: #06c; }

.ql-snow .ql-image-tooltip a.ql-action::before {
  color: #fff;
  content: 'Insert'; }

.ql-snow .ql-image-tooltip .ql-preview {
  height: 200px;
  margin: 10px 0px;
  position: relative; }

.ql-snow .ql-image-tooltip .ql-preview img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0; }

.ql-snow .ql-image-tooltip .ql-empty.ql-preview::before {
  border: 1px dashed #ccc;
  color: #ccc;
  content: 'Preview';
  display: block;
  line-height: 200px; }

.ql-snow .ql-link-tooltip::before {
  content: "Visit URL:";
  line-height: 26px;
  margin-right: 8px; }

.ql-snow .ql-link-tooltip {
  margin-top: 10px;
  padding: 5px 12px;
  white-space: nowrap; }

.ql-snow .ql-link-tooltip input[type=text] {
  display: none;
  height: 26px;
  width: 170px; }

.ql-snow .ql-link-tooltip a.ql-preview {
  display: inline-block;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: top; }

.ql-snow .ql-link-tooltip a.ql-action::before {
  color: #444;
  content: '-';
  line-height: 26px;
  margin-left: 8px; }

.ql-snow .ql-link-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 8px;
  padding-right: 8px; }

.ql-snow .ql-link-tooltip a.ql-remove::before {
  content: 'Remove';
  margin-left: 8px; }

.ql-snow .ql-link-tooltip a {
  line-height: 26px; }

.ql-snow .ql-link-tooltip.ql-editing a.ql-preview,
.ql-snow .ql-link-tooltip.ql-editing a.ql-remove {
  display: none; }

.ql-snow .ql-link-tooltip.ql-editing input[type=text] {
  display: inline-block; }

.ql-snow .ql-link-tooltip.ql-editing a.ql-action::after {
  border-right: 0px;
  content: 'Save';
  padding-right: 0px; }

.ql-toolbar.ql-snow {
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px; }

.ql-toolbar.ql-snow * {
  box-sizing: border-box; }

.ql-toolbar.ql-snow .ql-formats {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle; }

.ql-toolbar.ql-snow button:hover,
.ql-toolbar.ql-snow button.ql-active,
.ql-toolbar.ql-snow .ql-picker-label:hover,
.ql-toolbar.ql-snow .ql-picker-label.ql-active,
.ql-toolbar.ql-snow .ql-picker-item:hover,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected {
  color: #06c; }

.ql-toolbar.ql-snow button:hover .ql-fill,
.ql-toolbar.ql-snow button.ql-active .ql-fill,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-fill,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-fill,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-fill,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-fill,
.ql-toolbar.ql-snow button:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow button.ql-active .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #06c; }

.ql-toolbar.ql-snow button:hover .ql-stroke,
.ql-toolbar.ql-snow button.ql-active .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke,
.ql-toolbar.ql-snow button:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow button.ql-active .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-label:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-label.ql-active .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-item:hover .ql-stroke-mitter,
.ql-toolbar.ql-snow .ql-picker-item.ql-selected .ql-stroke-mitter {
  stroke: #06c; }

.ql-toolbar.ql-snow .ql-stroke {
  stroke: #444; }

.ql-toolbar.ql-snow .ql-stroke-mitter {
  stroke: #444; }

.ql-toolbar.ql-snow .ql-fill,
.ql-toolbar.ql-snow .ql-stroke.ql-fill {
  fill: #444; }

.ql-toolbar.ql-snow .ql-direction svg:last-child {
  display: none; }

.ql-toolbar.ql-snow .ql-direction.ql-active svg:last-child {
  display: inline; }

.ql-toolbar.ql-snow .ql-direction.ql-active svg:first-child {
  display: none; }

.ql-toolbar.ql-snow .ql-picker {
  color: #444;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  position: relative;
  vertical-align: middle; }

.ql-toolbar.ql-snow .ql-picker-label {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding-left: 8px;
  padding-right: 2px;
  position: relative;
  width: 100%; }

.ql-toolbar.ql-snow .ql-picker-label svg {
  float: right;
  height: 18px;
  margin-top: 2px;
  width: 18px; }

.ql-toolbar.ql-snow .ql-picker-label::before {
  vertical-align: middle; }

.ql-toolbar.ql-snow .ql-picker-options {
  background-color: #fff;
  border: 1px solid transparent;
  display: none;
  min-width: 100%;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap; }

.ql-toolbar.ql-snow .ql-picker-options .ql-picker-item {
  cursor: pointer;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px; }

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #ccc;
  color: #ccc;
  z-index: 2; }

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill {
  fill: #ccc; }

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  stroke: #ccc; }

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
  display: block;
  margin-top: -1px;
  z-index: 1; }

.ql-toolbar.ql-snow .ql-color-picker,
.ql-toolbar.ql-snow .ql-icon-picker {
  width: 28px; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-label,
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-label {
  padding: 2px 4px; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-label svg,
.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-label svg {
  margin-top: 0px; }

.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-options {
  padding: 4px 0px; }

.ql-toolbar.ql-snow .ql-icon-picker .ql-picker-item {
  height: 24px;
  padding: 2px 4px; }

.ql-toolbar.ql-snow .ql-color-picker.ql-expanded .ql-picker-options,
.ql-toolbar.ql-snow .ql-icon-picker.ql-expanded .ql-picker-options {
  margin-top: -6px; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-options {
  padding: 5px;
  width: 152px; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item {
  border: 1px solid transparent;
  float: left;
  height: 16px;
  margin: 2px;
  padding: 0px;
  width: 16px; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-primary-color {
  margin-bottom: toolbarPadding; }

.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-color-picker .ql-picker-item:hover {
  border-color: #000; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-label]:not([data-label=''])::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-label]:not([data-label=''])::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-label]:not([data-label=''])::before {
  content: attr(data-label); }

.ql-toolbar.ql-snow .ql-picker.ql-header {
  width: 98px; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Heading 1'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Heading 2'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Heading 3'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Heading 4'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="5"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  content: 'Heading 5'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="6"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  content: 'Heading 6'; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  font-size: 2em; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  font-size: 1.5em; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-size: 1.17em; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  font-size: 1em; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="5"]::before {
  font-size: 0.83em; }

.ql-toolbar.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="6"]::before {
  font-size: 0.67em; }

.ql-toolbar.ql-snow .ql-picker.ql-font {
  width: 108px; }

.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: 'Sans Serif'; }

.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=serif]::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  content: 'Serif'; }

.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace'; }

.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=serif]::before {
  font-family: Georgia, Times New Roman, serif; }

.ql-toolbar.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  font-family: Monaco, Courier New, monospace; }

.ql-toolbar.ql-snow .ql-picker.ql-size {
  width: 98px; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: 'Normal'; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=small]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  content: 'Small'; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=large]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  content: 'Large'; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-label[data-value=huge]::before,
.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  content: 'Huge'; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=small]::before {
  font-size: 10px; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=large]::before {
  font-size: 18px; }

.ql-toolbar.ql-snow .ql-picker.ql-size .ql-picker-item[data-value=huge]::before {
  font-size: 32px; }

.ql-toolbar.ql-snow .ql-color-picker.ql-background .ql-picker-item {
  background-color: #fff; }

.ql-toolbar.ql-snow .ql-color-picker.ql-color .ql-picker-item {
  background-color: #000; }

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px; }

.ql-snow .ql-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px #ddd;
  color: #444; }

.ql-snow .ql-tooltip input[type=text] {
  border: 1px solid #ccc;
  font-size: 13px;
  margin: 0px;
  padding: 3px 5px; }

.ql-container.ql-snow {
  border: 1px solid #ccc; }

.ql-container.ql-snow a {
  color: #06c; }

.ql-container.ql-snow * {
  box-sizing: border-box; }

/* Lino calander CSS */
.lino-nav-cal {
    margin-left: 2ch;
}

.lino-nav-cal h2 {
  margin-bottom: 2px;
  white-space: nowrap; }

.lino-nav-cal p {
  margin: 0;
  padding: 0; }

.lino-nav-cal h2 > span {
  width: 14ch;
  display: inline-block; }

.cal-week {
  position: relative;
  right: 2ch; }

.cal-month-table {
  /* 	display: None; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  border: solid;
  box-sizing: border-box;
  background-color: #edf0f5;
  z-index: 1;
  padding: 12px;
  border-color: blue;
  display: inline-block;
  transform: translate(-50%); }

.cal-month-table a {
  font-weight: normal; }

.cal-month-cell div.header {
  padding-bottom: 3px; }

/*.cal-month-cell.other-month h3 a{*/
/*color: #5c5c5c;*/
/*}*/
.cal-month-cell.cal-in-past a {
  color: darkgray; }

.cal-month-cell.cal-in-past div.header a {
  color: unset; }

.cal-MonthlyView table[name="cal.MonthlyPlanner.grid"] {
  height: 100%; }

.cal-MonthlyView table[name="cal.MonthlyPlanner.grid"] tr:nth-child(1) th {
  height: 1ch; }

.cal-WeeklyView table[name="cal.WeeklyPlanner.grid"] td > a {
  margin-bottom: 3px;
  display: block; }

.cal-WeeklyView table[name="cal.WeeklyPlanner.grid"] tr td:nth-child(1) {
  white-space: nowrap; }

/*For extjs grid of cal view, never going to be used? */
.cal-MonthlyView td.x-grid3-cell:not(.x-grid3-cell-first) {
  color: #5c5c5c;
  min-height: 14ch;
  border: lightgray solid 1px;
  padding: 3px;
  box-sizing: border-box; }

.cal-MonthlyView td.x-grid3-cell-first {
  vertical-align: middle; }

.lino-nav-cal span > span:hover .cal-month-table {
  visibility: visible;
  opacity: 1; }

.other-month {
  background-color: gainsboro; }

.current-day {
  background-color: #fbfbfb; }

/* Have "..." overflow*/
.fixed-table {
  width: 100%;
  height: 100%;
  /*not really necessary, removes extra white space */
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

.fixed-table tbody {
  vertical-align: unset; }

.fixed-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3ch;
  margin-left: 0.3ch;
  margin-bottom: 0.5ch; }
